<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Project_Manage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/Project_1</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>P0_login.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addView</servlet-name>
    <servlet-class>P1_iud.controller.addViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addView</servlet-name>
    <url-pattern>/P1_iud/addView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addNews</servlet-name>
    <servlet-class>P5_index.controller.newsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addNews</servlet-name>
    <url-pattern>/P1_iud/news_Manage/addNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateNews</servlet-name>
    <servlet-class>P5_index.controller.newsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateNews</servlet-name>
    <url-pattern>/P1_iud/news_Manage/updateNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addKnowledge</servlet-name>
    <servlet-class>P5_index.controller.knowledgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addKnowledge</servlet-name>
    <url-pattern>/P1_iud/knowledge_Manage/addKnowledge</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateKnowledge</servlet-name>
    <servlet-class>P5_index.controller.knowledgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateKnowledge</servlet-name>
    <url-pattern>/P1_iud/knowledge_Manage/updateKnowledge</url-pattern>
  </servlet-mapping>
</web-app>